.fondo{
    background: linear-gradient(to bottom right, #5433ff,#20dbff, #a5fecb);
}

h1{
display: block;
position: relative;
min-width: 25%;

}
#divTitulo{
    min-width:fit-content;
}

#funky{
min-width:max-content;

}

.texto{
    text-align: center;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}